* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  text-align: center;
  color: white;
}
header {
  padding: 20px;
  color: teal;
  background-color: white;
  text-transform: capitalize;
}
.score-board {
  margin: 30px auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  width: 200px;
  max-width: 80%;
  padding: 20px;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  font-size: 16px;
  position: absolute;
  padding: 0 5px;
}
#user-badge {
  top: 35px;
  left: -25px;
  background-color: green;
}
#comp-badge {
  top: 35px;
  right: -32px;
  background-color: rgba(230, 64, 64, 0.993);
}
.result {
  margin-bottom: 20px;
  padding: 10px;
}
.choice {
  display: inline-block;
  min-width: fit-content;
  border: 4px solid white;
  padding: 40px 40px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.choice:hover {
  background-color: green;
  color: white;
  transition: 0.3s ease-in;
}
.action-message {
  margin: 10px auto;
  border: 1px dashed white;
  border-radius: 4px;
  width: fit-content;
  padding: 10px;
  font-size: 1.5rem;
}
.green {
  color: rgb(6, 240, 6);
}
.red {
  color: rgba(236, 12, 12, 0.993);
}
#reset {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  padding: 10px;
  background-color: white;
  color: rgba(230, 64, 64, 0.993);
  cursor: pointer;
  border-radius: 5px;
}
#reset:hover {
  background-color: rgba(230, 64, 64, 0.993);
  color: white;
  transition: 0.3s ease-in;
}
footer {
  min-width: 100vw;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: white;
  color: teal;
}
footer p {
  padding: 5px;
}
footer p a {
  text-decoration: none;
  color: teal;
}
footer p i {
  color: teal;
}
.green-glow {
  border: 4px solid rgb(6, 240, 6);
  box-shadow: 0 0 10px black;
}
.red-glow {
  border: 4px solid rgba(230, 64, 64, 0.993);
  box-shadow: 0 0 10px black;
}

